*~
*.elc
.emacs.d/session*
.emacs.d/.lsp-session-v1
.emacs.d/projectile-bookmarks.eld
.emacs.d/.extension
.emacs.d/elpa
.emacs.d/url
.emacs.d/transient
.emacs.d/ido.last

nvim/plugged/
nvim/autoload/
