let mapleader = " "

set scrolloff=5
set relativenumber
set surround
set easymotion
set textobj-entire
set argtextobj
set incsearch
set ignorecase
set smartcase

" key bindings for quickly moving between windows
" h left, l right, k up, j down
nmap <leader>h <c-w>h
nmap <leader>l <c-w>l
nmap <leader>k <c-w>k
nmap <leader>j <c-w>j

nmap <leader>g :action GotoDeclaration<cr>
nmap <leader>b :action Back<cr>
nmap <leader>f :action Forward<cr>

nmap <leader>t :action GotoFile<cr>
nmap <leader>c :action GotoClass<cr>
nmap <leader>ns :action GotoSymbol<cr>
nmap <leader>nm :action FileStructurePopup<cr>
nmap <leader>d :action ShowErrorDescription<cr>

map sh <Plug>(easymotion-bd-wl)
map sl <Plug>(easymotion-bd-wl)
map sj <Plug>(easymotion-j)
map sk <Plug>(easymotion-k)
map ss <Plug>(easymotion-s)
map sw <Plug>(easymotion-bd-w)

"noremap <c-e> 3<c-e>
"noremap <c-y> 3<c-y>

imap <C-n> <ESC>:action HippieCompletion<CR>a
imap <C-p> <ESC>:action HippieBackwardCompletion<CR>a
"inoremap <C-g> <Esc>

" unimpaired
nnoremap [q :action GotoNextError<cr>
nnoremap ]q :action GotoPreviousError<cr>
nnoremap [m :action MethodUp<cr>
nnoremap ]m :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>

" for easy reload
nmap <m-r> :source ~/.ideavimrc

" Some emacs stuff that I got used to
nmap <c-a> I
nmap <c-e> A
imap <c-a> <c-o>$
imap <c-e> <c-o>^
imap <m-b> <c-o>b
imap <m-f> <c-o>w
imap <m-d> <c-o>dw
nmap <c-k> d$
imap <c-k> <c-o>d$


" bindings follows emacs binding
nmap <c-x><c-f> :action GotoFile<CR>
nmap <c-x>b :action Switcher<CR>
nmap <m-x> :action GotoAction<CR>
nmap <c-c> <c-x> :action Run<cr>
nmap <c-m-s> :action FindUsages<cr>
nmap <m-down> :action MethodDown<cr>
nmap <c-m-e> :action MethodDown<cr>
nmap <c-m-a> :action MethodUp<cr>

nmap <c-x> ` :action GotoNextError<cr>

nmap <c-BS> :action EditorDeleteToWordStart<cr>
nmap <m-BS> :action EditorDeleteToWordStart<cr>
nmap <c-x> <c-s> :action SaveAll<cr>
nmap <m-d> :action EditorKillToWordEnd<cr>
nmap <m-/> :action CodeCompletion<cr>

nmap <c-tab> :action NextTab<cr>
nmap <c-s-tab> :action PreviousTab<cr>

"""
" Gonna migrate these eventually
" <!-- emacs with all escape disabled -->
"  <action id="EditorLineEnd">
"    <keyboard-shortcut first-keystroke="END"/>
"    <keyboard-shortcut first-keystroke="control E"/>
"  </action>
"  <action id="EditorCodeBlockEnd">
"    <keyboard-shortcut first-keystroke="control CLOSE_BRACKET"/>
"    <keyboard-shortcut first-keystroke="control alt CLOSE_BRACKET"/>
"  </action>
"  <action id="EditorNextWord">
"    <keyboard-shortcut first-keystroke="control RIGHT"/>
"    <keyboard-shortcut first-keystroke="alt F"/>
"  </action>
"  <action id="CompileProject">
"    <keyboard-shortcut first-keystroke="shift alt M"/>
"  </action>
"  <action id="EditorLineStart">
"    <keyboard-shortcut first-keystroke="HOME"/>
"    <keyboard-shortcut first-keystroke="control A"/>
"    <keyboard-shortcut first-keystroke="alt M"/>
"  </action>
"  <action id="EditorLeft">
"    <keyboard-shortcut first-keystroke="LEFT"/>
"    <keyboard-shortcut first-keystroke="control B"/>
"  </action>
"  <action id="CloseAllEditors">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="control C"/>
"  </action>
"  <action id="Find">
"    <keyboard-shortcut first-keystroke="control alt S"/>
"    <keyboard-shortcut first-keystroke="alt F3"/>
"    <keyboard-shortcut first-keystroke="control S"/>
"  </action>
"  <action id="EditorPreviousWord">
"    <keyboard-shortcut first-keystroke="control LEFT"/>
"    <keyboard-shortcut first-keystroke="alt B"/>
"  </action>
"  <action id="EditorCodeBlockStart">
"    <keyboard-shortcut first-keystroke="control OPEN_BRACKET"/>
"    <keyboard-shortcut first-keystroke="control alt OPEN_BRACKET"/>
"  </action>
"  <action id="EmacsStyleIndent">
"    <keyboard-shortcut first-keystroke="TAB"/>
"  </action>
"  <action id="EditorUp">
"    <keyboard-shortcut first-keystroke="UP"/>
"    <keyboard-shortcut first-keystroke="control P"/>
"  </action>
"  <action id="CloseContent">
"    <keyboard-shortcut first-keystroke="control F4"/>
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="K"/>
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="0"/>
"  </action>
"  <action id="SplitVertically">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="3"/>
"  </action>
"  <action id="SplitHorizontally">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="2"/>
"  </action>
"  <action id="UnsplitAll">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="1"/>
"  </action>
"  <action id="NextSplitter">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="O"/>
"  </action>
"  <action id="Replace">
"    <keyboard-shortcut first-keystroke="shift alt 5"/>
"  </action>
"  <action id="EditorTextEnd">
"    <keyboard-shortcut first-keystroke="control END"/>
"    <keyboard-shortcut first-keystroke="shift alt PERIOD"/>
"  </action>
"  <action id="EditorPageDown">
"    <keyboard-shortcut first-keystroke="PAGE_DOWN"/>
"    <keyboard-shortcut first-keystroke="control V"/>
"  </action>
"  <action id="VcsShowNextChangeMarker">
"    <keyboard-shortcut first-keystroke="shift control alt DOWN"/>
"  </action>
"  <action id="VcsShowPrevChangeMarker">
"    <keyboard-shortcut first-keystroke="shift control alt UP"/>
"  </action>
"  <action id="NextProjectWindow">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="control O"/>
"  </action>
"  <action id="CommentByLineComment">
"    <keyboard-shortcut first-keystroke="alt SEMICOLON"/>
"  </action>
"  <action id="EditorForwardParagraph">
"    <keyboard-shortcut first-keystroke="control DOWN"/>
"  </action>
"  <action id="EditorBackwardParagraph">
"    <keyboard-shortcut first-keystroke="control UP"/>
"  </action>
"  <action id="EditorForwardParagraphWithSelection">
"    <keyboard-shortcut first-keystroke="control shift DOWN"/>
"  </action>
"  <action id="EditorBackwardParagraphWithSelection">
"    <keyboard-shortcut first-keystroke="control shift UP"/>
"  </action>
"  <action id="EditorScrollToCenter">
"    <keyboard-shortcut first-keystroke="control L"/>
"  </action>
"  <action id="EditorEnter">
"    <keyboard-shortcut first-keystroke="ENTER"/>
"    <keyboard-shortcut first-keystroke="control M"/>
"  </action>
"  <action id="EditorChooseLookupItem">
"    <keyboard-shortcut first-keystroke="ENTER"/>
"    <keyboard-shortcut first-keystroke="control M"/>
"  </action>
"  <action id="SelectVirtualTemplateElement">
"    <keyboard-shortcut first-keystroke="Alt Shift O"/>
"  </action>
"  <action id="NextTemplateVariable">
"    <keyboard-shortcut first-keystroke="TAB"/>
"    <keyboard-shortcut first-keystroke="ENTER"/>
"    <keyboard-shortcut first-keystroke="control M"/>
"  </action>
"  <action id="Console.Execute">
"    <keyboard-shortcut first-keystroke="ENTER"/>
"    <keyboard-shortcut first-keystroke="control M"/>
"  </action>
"
"  <!--Disabled shortcuts-->
"  <action id="CollapseAllRegions"/>
"  <action id="ReformatCode"/>
"  <action id="OverrideMethods"/>
"  <action id="ToggleBookmark2"/>
"  <action id="SafeDelete"/>
"  <action id="IntroduceField"/>
"  <action id="RecentFiles"/>
"  <action id="SwitcherRecentEditedChangedToggleCheckBox"/>
"  <action id="SwitcherIterateItems"/>
"  <action id="EditorTab"/>
"  <action id="EditorDeleteLine"/>
"  <action id="PreviousProjectWindow"/>
"  <action id="Vcs.ToggleAmendCommitMode"/>
"  <action id="Vcs.ShowMessageHistory"/>
"  <action id="GotoImplementation"/>
"  <action id="EditorScrollUp"/>
"  <action id="EditorScrollDown"/>
"  <action id="Vcs.MoveChangedLinesToChangelist"/>
"  <action id="ChangesView.Move"/>
"  <action id="MoveStatementUp"/>
"  <action id="MoveStatementDown"/>
"  <action id="ToggleRenderedDocPresentation"/>
"  <action id="EditorAddCaretPerSelectedLine"/>
"
" Not gonna migrate
"  <action id="EditorEscape">
"    <keyboard-shortcut first-keystroke="ESCAPE" second-keystroke="ESCAPE"/>
"    <keyboard-shortcut first-keystroke="control G"/>
"  </action>
"  <action id="EditorCutLineBackward">
"    <keyboard-shortcut first-keystroke="alt MINUS" second-keystroke="control K"/>
"  </action>
"  <action id="EditorCutLineEnd">
"    <keyboard-shortcut first-keystroke="control K"/>
"  </action>
"  <action id="$Cut">
"    <keyboard-shortcut first-keystroke="shift DELETE"/>
"  </action>
"  <action id="EditorSplitLine">
"    <keyboard-shortcut first-keystroke="control O"/>
"  </action>
"  <action id="$Paste">
"    <keyboard-shortcut first-keystroke="shift INSERT"/>
"    <keyboard-shortcut first-keystroke="control Y"/>
"  </action>
"  <action id="PasteMultiple">
"    <keyboard-shortcut first-keystroke="alt Y"/>
"  </action>
"  <action id="EditorSelectWord">
"    <keyboard-shortcut first-keystroke="control alt W"/>
"  </action>

"  <action id="EditorToggleStickySelection">
"    <keyboard-shortcut first-keystroke="control SPACE"/>
"    <keyboard-shortcut first-keystroke="control shift 2"/>
"  </action>
"  <action id="EditorSwapSelectionBoundaries">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="X"/>
"  </action>
"  <action id="$SelectAll">
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="H"/>
"  </action>
"  <action id="AutoIndentLines">
"    <keyboard-shortcut first-keystroke="control alt I"/>
"    <keyboard-shortcut first-keystroke="control alt Q"/>
"  </action>
"  <action id="EditorTextStart">
"    <keyboard-shortcut first-keystroke="control HOME"/>
"    <keyboard-shortcut first-keystroke="shift alt COMMA"/>
"  </action>
"  <action id="$Delete">
"    <keyboard-shortcut first-keystroke="DELETE"/>
"    <keyboard-shortcut first-keystroke="control D"/>
"  </action>
"  <action id="EditorKillToWordStart">
"    <keyboard-shortcut first-keystroke="alt DELETE"/>
"  </action>
"  <action id="EditorKillRegion">
"    <keyboard-shortcut first-keystroke="control W"/>
"  </action>
"  <action id="EditorKillRingSave">
"    <keyboard-shortcut first-keystroke="alt W"/>
"  </action>
"  <action id="$Undo">
"    <keyboard-shortcut first-keystroke="shift control MINUS"/>
"    <keyboard-shortcut first-keystroke="control SLASH"/>
"  </action>
"  <action id="EditorPageUp">
"    <keyboard-shortcut first-keystroke="PAGE_UP"/>
"    <keyboard-shortcut first-keystroke="control Z"/>
"    <keyboard-shortcut first-keystroke="alt V"/>
"  </action>
"  <action id="$Copy">
"    <keyboard-shortcut first-keystroke="control INSERT"/>
"    <keyboard-shortcut first-keystroke="alt C"/>
"  </action>
"  <action id="GotoPreviousError">
"    <keyboard-shortcut first-keystroke="shift F2"/>
"    <keyboard-shortcut first-keystroke="shift control X" second-keystroke="BACK_QUOTE"/>
"  </action>
"  <action id="GotoClass">
"    <keyboard-shortcut first-keystroke="shift alt G"/>
"  </action>
"  <action id="GotoChangedFile">
"    <keyboard-shortcut first-keystroke="shift alt G"/>
"  </action>
"  <action id="ParameterInfo">
"    <keyboard-shortcut first-keystroke="shift alt P"/>
"  </action>
"  Used by vim
"  <action id="EditorDown">
"    <keyboard-shortcut first-keystroke="DOWN"/>
"    <keyboard-shortcut first-keystroke="control N"/>
"  </action>
"  <action id="FindNext">
"    <keyboard-shortcut first-keystroke="F3"/>
"    <keyboard-shortcut first-keystroke="alt S"/>
"  </action>
"  <action id="SmartTypeCompletion">
"    <keyboard-shortcut first-keystroke="shift control SPACE"/>
"    <keyboard-shortcut first-keystroke="control alt SLASH"/>
"  </action>
"  <action id="GotoDeclaration">
"    <keyboard-shortcut first-keystroke="control alt G"/>
"    <keyboard-shortcut first-keystroke="alt PERIOD"/>
"    <mouse-shortcut keystroke="ctrl button1"/>
"  </action>
"  <action id="EditorDuplicate">
"    <keyboard-shortcut first-keystroke="meta D"/>
"  </action>
"  <action id="FindPrevious">
"    <keyboard-shortcut first-keystroke="shift F3"/>
"    <keyboard-shortcut first-keystroke="alt R"/>
"    <keyboard-shortcut first-keystroke="control R"/>
"  </action>
"  <action id="NextTab">
"    <keyboard-shortcut first-keystroke="alt RIGHT"/>
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="N"/>
"  </action>
"  <action id="NextEditorTab">
"    <keyboard-shortcut first-keystroke="alt shift RIGHT"/>
"  </action>
"  <action id="Diff.PrevChange">
"    <keyboard-shortcut first-keystroke="alt LEFT"/>
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="P"/>
"  </action>
"  <action id="Diff.NextChange">
"    <keyboard-shortcut first-keystroke="alt RIGHT"/>
"    <keyboard-shortcut first-keystroke="control X" second-keystroke="N"/>
"  </action>
"  <action id="GotoLine">
"    <keyboard-shortcut first-keystroke="alt G"/>
"  </action>
"  <action id="SynchronizeCurrentFile">
"    <keyboard-shortcut first-keystroke="alt U"/>
"  </action>
"  <action id="PreviousEditorTab">
"    <keyboard-shortcut first-keystroke="alt shift LEFT"/>
"  </action>
